<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <% if (user) { %>
    <h2>Welcome User - We'll show you posts for all communities</h2>
    <section class="flex create-post-section">
      <a href="/user/profile">
        <img class="user-img" src="<%= user.avatar %>" alt="User Avatar">
      </a>
      <a class="create-post-wrapper" href="/posts/new">
        <input class="create-post" type="text" placeholder="Create Post"></input>
      </a>
    </section>
    <section>
      <% posts.forEach(p => { %>
      <section class="flex post-wrapper">
        <section class="flex likes">
          <p>+</p>
          <p>10</p>
        </section>
        <section class="post-body">
          <p><%= p.subject %></p>
          <!-- only show first 20 words of content -->
          <p><%= p.content %></p>
          <br>
          <span><a href="/c/<%= p.community %>/posts/<%= p._id %>">read more</a></span>
          <form action="/c/<%= p.community %>/posts/<%= p._id %>">
            <button>Comments</button>
          </form>
        </section>
      </section>
      <% }) %>
    </section>
    <% } else { %>
    <h2>Hey, thanks for coming. If you want to view our site click on the log in button</h2>
    <a href="/auth/google">LOG IN</a>

    <% } %>
  </main>
  <%- include('./partials/footer') %>

</body>

</html>