<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <% if (user) { %>
    <section class="flex create-post-section">
      <a href="/user/profile">
        <img referrerpolicy="no-referrer" class="user-img" src="<%= user.avatar %>" alt="User Avatar">
      </a>
      <a class="create-post-wrapper" href="/posts/new">
        <input class="create-post" type="text" placeholder="Create Post"></input>
      </a>
    </section>
    <section>
      <% posts.forEach(p => { %>
      <section class="flex post-wrapper">
        <section class="flex likes">
        </section>
        <section class="post-body">
          <p class="community-name">c/<%= p.community %></p>
          <p>posted by <%= p.users[0].name %> on <%= p.createdAt.toLocaleDateString() %></p>
          <p class="post-subject"><%= p.subject %></p>
          <p class="post-content"><%= p.content %></p>
          <a href="/c/<%= p.community %>/posts/<%= p._id %>">read more...</a>
          <form action="/c/<%= p.community %>/posts/<%= p._id %>">
            <button class="submit-btn"><%= p.comments.length %> Comments</button>
          </form>
        </section>
      </section>
      <% }) %>
    </section>
    <% } else { %>
    <section class="flex landing">
      <img src="/imgs/younity_full_logo.png" alt="">
      <h2>YOUnity is where the conversation happens. Whether you're into anime, fantasy, books, or cuisines - there's a community for you to join at YOUnity! Join us and post, comment, and interact with peers within communities that reflect your interests.
      </h2>
      <h3>Log In Below to Get Started:</h3>
      <a href="/auth/google">LOG IN</a>
    </section>
    <% } %>
  </main>
  <%- include('./partials/footer') %>

</body>

</html>