<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <% if (user) { %>
    <h2><%= name %></h2>
    <section>
      <p>Username</p>
      <a href="/c/<%= name %>/posts/new"><input type="text" placeholder="Create Post"></input></a>
    </section>
    <section>
      <% posts.forEach(p => { %>
      <div class="outer-wrapper">
        <div class="likes">10</div>
        <div class="post-body">
          <p><%= p.subject %></p>
          <!-- only show first 20 words of content -->
          <p><%= p.content %></p>
          <br>
          <span><a href="/c/<%= p.community %>/posts/<%= p._id %>">read more</a></span>
          <form action="/c/<%= p.community %>/posts/<%= p._id %>">
            <button>Comments</button>
          </form>
        </div>
      </div>
      <% }) %>
    </section>
    <p>List of Posts</p>
    <% } else { %>
    <h2>Hey, thanks for coming. If you want to view our site click on the log in button</h2>
    <a href="/auth/google">LOG IN</a>

    <% } %>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>