<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <h2>c/<%= name %></h2>
    <section class="flex create-post-section">
      <a href="/user/profile">
        <img referrerpolicy="no-referrer" class="user-img" src="<%= user.avatar %>" alt="User Avatar">
      </a>
      <a class="create-post-wrapper" href="/posts/new">
        <input class="create-post" type="text" placeholder="Create Post"></input>
      </a>
    </section>
    <section>
      <% posts.forEach(p => { %>
      <section class="flex post-wrapper">
        <section class="flex likes">
        </section>
        <section class="post-body">
          <p class="community-name">c/<%= p.community %></p>
          <p>posted by <%= user.name %> on <%= p.createdAt.toLocaleDateString() %></p>
          <p class="post-subject"><%= p.subject %></p>
          <p class="post-content"><%= p.content %></p>
          <a href="/c/<%= p.community %>/posts/<%= p._id %>">read more...</a>
          <form action="/c/<%= p.community %>/posts/<%= p._id %>">
            <button class="submit-btn"><%= p.comments.length %> Comments</button>
          </form>
        </section>
      </section>
      <% }) %>
    </section>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>