<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/header') %>
  <main>
    <section class="flex user-info">
      <img referrerpolicy="no-referrer" class="user-img" src="<%= user.avatar %>" alt="user avatar">
      <p class="user-name"><%= user.name %></p>
    </section>
    <section>
      <h2>POSTS</h2>
      <% if (posts.length) { %>
      <% posts.forEach(p => { %>
      <section class="flex post-wrapper">
        <section class="flex likes">
        </section>
        <section class="post-body">
          <p class="community-name">c/<%= p.community %></p>
          <p>posted by <%= user.name %> on <%= p.createdAt.toLocaleDateString() %></p>
          <p class="post-subject"><%= p.subject %></p>
          <p class="post-content"><%= p.content %></p>
          <a href="/c/<%= p.community %>/posts/<%= p._id %>">read more...</a>
          <form action="/c/<%= p.community %>/posts/<%= p._id %>">
            <button class="submit-btn"><%= p.comments.length %> Comments</button>
          </form>
        </section>
      </section>
      <% }) %>
      <% } else { %>
      <p>No Posts Yet!</p>
      <% } %>
    </section>
    <section>
      <h2>COMMENTS</h2>
      <% if (comments.length) { %>
      <% comments.forEach(c => { %>
      <section class="post-wrapper">
        <section class="comment">
          <section class="flex user-info">
            <img referrerpolicy="no-referrer" class="user-img" src="<%= user.avatar %>" alt="">
            <p class="user-name"><%= user.name %></p>
          </section>
          <section>
            <p class="post-content"><%= c.content %></p>
            <a href="/c/<%= c.community %>/posts/<%= c.posts[0]._id %>">original post...</a>
          </section>
        </section>
        <section class="post-btns flex">
          <form action="/c/<%= c.community %>/posts/<%= c.posts[0]._id %>/comments/<%= c._id %>/edit">
            <button class="submit-btn">edit</button>
          </form>
          <form action="/c/<%= c.community %>/posts/<%= c.posts[0]._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
            <button class="submit-btn">delete</button>
          </form>
        </section>
      </section>
      <% }) %>
      <% } else { %>
      <p>No Comments Yet!</p>
      <% } %>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>