<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <h2>Edit Post</h2>
    <form action="/c/<%= post.community %>/posts/<%= post._id %>?_method=PUT" method="POST">
      <label>Community:
        <select name="community">
          <option value="<%= post.community %>" selected>
            <%= post.community %></option>
        </select>
      </label>
      <label>Rules:
        <p>Community Rules + Guidelines</p>
      </label>
      <label>Subject:
        <input name="subject" type="text" placeholder="<%= post.subject %>">
      </label><br>
      <label>Content:
        <textarea name="content" id="" cols="30" rows="10" placeholder="<%= post.content %>"></textarea>
      </label><br>
      <button>Submit Changes</button>
    </form>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>