<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <h2>Edit Post</h2>
    <form class="new-form" action="/c/<%= post.community %>/posts/<%= post._id %>?_method=PUT" method="POST">
      <label>Community:
        <select class="new-form-select" name="community">
          <option value="<%= post.community %>" selected>
            <%= post.community %></option>
        </select>
      </label>
      <label>Subject:
        <input class="new-form-input" name="subject" type="text" placeholder="<%= post.subject %>">
      </label>
      <label>Content:
        <textarea class="new-form-text" name="content" id="" cols="30" rows="10" placeholder="<%= post.content %>"></textarea>
      </label>
      <button class="submit-btn">Submit Changes</button>
    </form>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>