<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <h2>Create a Post</h2>
    <% let action = name ? `/c/${name}/posts` : '/posts' %>
    <form class="new-form" action="<%= action %>" method="POST">
      <label>Community:
        <% if (name) { %>
        <select name="community">
          <option value="<%= name %>" selected><%= name %></option>
        </select>
        <% } else { %>
        <select class="new-form-select" name="community">
          <option value="anime">Anime</option>
          <option value="books">Books</option>
          <option value="food">Food</option>
        </select>
        <% } %>
      </label>
      <label>Subject:
        <input class="new-form-input" name="subject" type="text" placeholder="Subject / Title">
      </label>
      <label>Content:
        <textarea placeholder="What would you like to say..." class="new-form-text" name="content" id="" cols="30" rows="10"></textarea>
      </label>
      <button class="submit-btn">Create Post</button>
    </form>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>