<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <section class="detail-wrapper">
      <div class="user-info">
        <img class="user-avatar" src="<%= post.users[0].avatar %>" alt="user avatar">
        <p class="user-name"><%= post.users[0].name %></p>
      </div>
      <p class="community">/c/<%= post.community %></p>
      <div class="post-wrapper">
        <section class="likes">10</section>
        <section class="post-body">
          <p class="subject"><%= post.subject %></p>
          <p class="content"><%= post.content %></p>
        </section>
        <% if (user.id === post.users[0].id) { %>
        <form action="/c/<%= post.community %>/posts/<%= post._id %>?_method=DELETE" method="POST">
          <button>delete</button>
        </form>
        <% } %>
      </div>
      <h3>Join the Conversation:</h3>
      <form class="add-comment" action="/c/<%= post.community %>/posts/<%= post._id %>/comments" method="POST">
        <input type="hidden" name="name" value="<%= post.community %>">
        <textarea name="content" id="" cols="30" rows="10" placeholder="What do you think..."></textarea>
        <button>Add</button>
      </form>
      <section class="comment-list">
        <!-- List all comments - Make Divs (pic + username) - content - likes -->
        <% if (comments.length > 0) { %>
        <% comments.forEach(c => { %>
        <div>
          <img src="<%= c.users[0].avatar %>" alt="">
          <p><%= c.users[0].name %></p>
          <p><%= c.content %></p>
        </div>
        <% }) %>
        <% } %>

      </section>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>